<h1>Search for a story</h1>
<div class="form">
  <%= simple_form_for(@search, url: search_path) do |f| %>
    <%= f.input :story_title %>
    <%= f.submit 'Find A Story', class: 'btn btn-primary' %>
  <% end %>
</div>
