<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Add A New Page</h1>

      <%= render 'form' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= link_to 'Back', story_pages_path(@story) %>
    </div>
  </div>
</div>
