<h1 class="text-center">
  Write, draw and translate storybooks to help children in crisis.
</h1>
<%= link_to 'Tell A Story', new_story_path, class: 'btn btn-primary' %>
<%= link_to 'Find A Story', search_path, class: 'btn btn-default' %>
