<div class="main-cover-img-container">
  <div class="main-cta">
    <h1 class="text-center main-cta__heading">
      Write, draw and translate storybooks to help children in crisis.
    </h1>
    <h2></h2>
    <%= link_to 'Tell A Story', new_story_path, class: 'btn btn-primary' %>
    <%= link_to 'Find A Story', search_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <section class="col-md-6 col-lg-6 text-center promo-block">
      <h1>
        Create
      </h1>
      <p>
        Tell a story that explains a moment of crisis to a child. A natural disaster, the outbreak of a disease or a displacement their family.
      </p>
      <p>
        Your characters can bring comfort, support and delight to children in difficult circumstances.
      </p>
    </section>
    <section class="col-md-6 col-lg-6 text-center promo-block">
      <h1>
        Contribute
      </h1>
      <p>
        Got a great story but can't illustrate it? Encourage others to bring your words to life.
      </p>
      <p>
        If you're not sure, you can <%= link_to 'search for a story', search_path %> to contribute to.
      </p>
    </section>
  </div>
  <div class="row">
    <section class="col-md-6 col-lg-6 text-center promo-block">
      <h1>
        Translate
      </h1>
      <p>
        Crisis can touch the lives of children in any nation, help translate stories into any number of languages.
      </p>
      <p>
        You can also help verify existing translations, making sure the language is appropriate for the right ages.
      </p>
    </section>
    <section class="col-md-6 col-lg-6 text-center promo-block">
      <h1>
        Distribute
      </h1>
      <p>
        Telltale is designed to be used in areas with limited connectivity and resources. Stories are exported as PDF's to be shared via offline storage or simple email.
      </p>
      <p>
        The best thing about using PDF is that stories can be printed and handed out directly to children in affected areas.
      </p>
    </section>
  </div>
</div>




