.main-cover-img-container {
  height: 400px;
  background-image: image-url("telltale_children_with_books_cover_img.jpg");
  background-size: cover;
  background-position: center;
}

.main-cta {

}

  .main-cta__heading {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: white;
  }


.promo-block {

}

  .promo-block__heading {
    
  }
